@model Lunch_Box.payment

@{
    ViewBag.Title = "Make Payments";
}

<h2>LunchBox</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { onsubmit = "return getElems();" }))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Make Payment</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.nameOnCard, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nameOnCard, new { htmlAttributes = new { @class = "form-control", @id = "nameOnCard" } })
            @Html.ValidationMessageFor(model => model.nameOnCard, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.cardNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.cardNumber, new { htmlAttributes = new { @class = "form-control", @id = "cardNumber" } })
            @Html.ValidationMessageFor(model => model.cardNumber, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.expiryDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.expiryDate, new { htmlAttributes = new { @class = "form-control", @id = "expiryDate" } })
            @Html.ValidationMessageFor(model => model.expiryDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.cvv, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.cvv, new { htmlAttributes = new { @class = "form-control", @id = "cvv" } })
            @Html.ValidationMessageFor(model => model.cvv, "", new { @class = "text-danger" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(model => model.totalPrice, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.totalPrice, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.totalPrice, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-5">
            <label id="error"></label>
        </div>    
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Pay Now!" id="submit" class="btn btn-default" />
        </div>
    </div>
</div>
}
