@model IEnumerable<Lunch_Box.item>

@{
    ViewBag.Title = "Index";
}

@*<script type="text\javascript">
        jQuery(function(){
            jQuery("#increment").on('click', function() {
                var cartsize = jQuery("#cartsize"),
                value = jQuery("#cartsize").html();
                cartsize.html(value++);
            });
        });
        jQuery(function(){
            jQuery("#decrement").on('click', function() {
                var cartsize = jQuery("#cartsize"),
                value = jQuery("#cartsize").html();
                cartsize.html(value--);
            });
        });
    </script>*@

<h2>Index</h2>


<div class="caption">
    <h1>TASTY</h1>
    <p class="lead">Hungry ? Go Ahead, Sign in to get your food delivered home  
    <a href="https://asp.net" class="btn btn-primary btn-lg">Login &raquo;</a> <a href="https://asp.net" class="btn btn-primary btn-lg"> Register &raquo;</a></p>
</div>

<div class="row" style=" width:1300px;">
    <div class="column" style="float:left">
        <img src="~/Content/NewFolder1/burger.jpg" style="width:400px;height:300px;">
        <table>
            <tr>
                <th>Month</th>
                <th>Savings</th>
            </tr>
            <tr>
                <td>January</td>
                <td>$100</td>
            </tr>
        </table>
    </div>

    <div class="column" style="float:left; padding-left:10px;">
        <img src="~/Content/NewFolder1/pizza.jpg" alt="Pizza" style=" padding-left:10px ; width:400px;height:300px;">
        <table style="padding-left:50px">
            <tr>
                <th>Month</th>
                <th>Savings</th>
            </tr>
            <tr>
                <td>January</td>
                <td>$100</td>
            </tr>
        </table>
    </div>


    <div class="column" style="float:left;padding-left:10px">
        <img src="~/Content/NewFolder1/pizza.jpg" alt="Pizza" style="padding-left:10px; width:400px;height:300px;">
        <table style="padding-left:10px">
            <tr>
                <th>Month</th>
                <th>Savings</th>
            </tr>
            <tr>
                <td>January</td>
                <td>$100</td>
            </tr>
        </table>
    </div>

    <div class="column">
        <img src="~/Content/NewFolder1/salad.jpg" alt="Salad" style="width:400px;height:300px;">
        <table>
            <tr>
                <th>Month</th>
                <th>Savings</th>
            </tr>
            <tr>
                <td>January</td>
                <td>$100</td>
            </tr>
        </table>
    </div>
</div>


@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.snackType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.snackState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.basePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.unit)
            </th>
            <th>

            </th>
            <th>

            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{
                        <img src="@Url.Content("~/Content/Images/"+item.itemId+".png")" alt="Sample Image" width="100px" />
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.snackType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.snackState)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.basePrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.unit)
                </td>
                <td>
                    <button id="increment" class="btn btn-info"><b>+</b></button>
                    <button id="decrement" class="btn btn-info"><b>-</b></button>
                </td>
                <td>
                    <input id="cartsize" type="text" value="0"/>
                </td>
            </tr>
        }

    </table>*@
